# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/trackmhr/agency.trackiness.com"
PassengerBaseURI "/"
PassengerNodejs "/home/trackmhr/nodevenv/agency.trackiness.com/10/bin/node"
PassengerAppType node
PassengerStartupFile server.js
PassengerAppLogFile "/home/trackmhr/agency.trackiness.com/logNode"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END