extends ./template.jade
block title
  title Agence
block svg
    div.header___container
        div.header___container__el1
            div.text____title___type1 XiKalima
            div.text____title___type1 JojKalimat
            div.text____title___type2 Xihaja & Xihaja
            div.text____title___type3 text text text text text text text text text text text text text text text text text text text text text text text text
        div.header___container___el2
            img.logo____container__img__(src="/public/images/img.png")
block content